@charset "utf-8";
/****************************************/
/*	Name: NIKE STORE
/*	PART: DISPLAY STYLE
/*	Version: 1.0
/*	Author: jerrold
/****************************************/
@import url(display.css);
/* 20140819 P1영역 삭제 
.banner-area {position:relative; background-color:#fff; width:100%; height:435px; overflow:hidden;}
.banner-area .container {position:relative; width:1600px; margin:0 auto;}
*/
.banner-slider-area {position:relative; background-color:#fff; width:100%; margin:90px 0 0; overflow:hidden;}
.banner-slider-area .container {position:relative; width:100%; margin:0 auto; text-align:center;}

.lc_conent {position:relative; width:100%; padding:0; margin:auto; text-align:center;}
.lc_conent .lc_stit {margin:16px 0 0;}
.lc_conent .lc_stit a {padding:0 0 10px; font-size:12px; display:inline-block;}
.lc_conent .lc_stit a.selected { margin:0 5px; color:#fa5400; background:url(http://image.nike.co.kr/web/ico/ico-arrow-down4.png) center bottom no-repeat;}
.lc_conent .lc_select {margin:18px 0 0;}
.lc_conent .lc_select .lc_sel {width:196px; margin:0 4px 0; display:inline-block;}
.lc_conent .lc_select .lc_sel select {width:100%;}
.lc_conent .lc_select .lc_sel select option {width:100%;}
.lc_result_count {padding:18px 0 0; color:#666; font-size:13px;}

.exp_lc_container {width:1280px; margin:33px auto 0;}
.exp_lc_container:after {display:block; clear:both; content:'';}
.exp_lc_list {float:left; padding:7px 0px 27px; vertical-align:top;}
.exp_lc_con {position:relative; width:300px; min-height:449px; padding:0 10px 16px; text-align:left; background:url(http://image.nike.co.kr/web/bg/bg_lc_shadow.png) no-repeat center bottom; display:block;}
.exp_lc_conbg {position:relative; min-height:465px; background-color:#f3f3f3; display:block;}
.exp_lc_con:hover .exp_lc_more {display:block;}
.exp_lc_con .exp_lcc_img {width:300px; height:300px; overflow:hidden; position:relative; display:inline-block; z-index:1;}
.exp_lc_con .exp_lcc_img img {position: absolute; top:0; left:0; width:300px; height:300px;}
.exp_lc_con .exp_lcc_badge {position:absolute; top:-7px; left:7px; min-width:32px; min-height:71px; padding:0 13px; background:url(http://image.nike.co.kr/web/bg/bg_badge.png) no-repeat left top; display:block; z-index:2;}
.exp_lc_con .exp_lcc_badge .exp_lccb_month {width:100%; padding:5px 0; border-bottom:1px solid #8989a3; color:#666; font-size:14px; text-align:center;}
.exp_lc_con .exp_lcc_badge .exp_lccb_day {width:100%; padding:2px 0 0; color:#fa5400; font-size:26px; font-weight:bold; text-align:center;}

.exp_lc_con .exp_lcc_info {padding:17px 20px 0px; display:block;}
.exp_lc_con .exp_lcc_info .exp_lcc_title {color:#333; font-size:19px; display:block; font-weight:bold;}
.exp_lc_con .exp_lcc_info .exp_lcc_price {padding:4px 0; color:#666; font-size:22px; display:block;}
.exp_lc_con .exp_lcc_info .exp_lcc_price .won {font-size:19px !important; vertical-align:top; display:inline-block;}

.exp_lc_con .exp_lc_more {position:absolute; top:0px; left:0px; width:300px; height:100%; display:none; z-index:111;}
.exp_lc_con .exp_lc_more .exp_lc_more_btn {position:absolute; top:50%; left:50%; width:89px; height:42px; margin:-21px 0 0 -44px; padding:0; border:0; background:none; cursor:pointer; z-index:2;}
.exp_lc_con .exp_lc_more .exp_lc_more_btn span {position:relative; display:block; width:89px; height:42px; margin:0; padding:0;}
.exp_lc_con .exp_lc_more .exp_lc_more_btn span span {overflow:hidden; position:absolute; top:0; left:0; width:89px; height:42px; margin:0; padding:0;}
.exp_lc_con .exp_lc_more .exp_lc_more_btn span, x:-moz-any-link, x:default {margin:-2px 0 0 -3px !important;} /* Mozilla 계열만 인식되는 firefox 핵 */
@media screen and (-webkit-min-device-pixel-ratio:0) { .exp_lc_con .exp_lc_more .exp_lc_more_btn span {margin:-1px 0 0 -3px !important;} } /* Webkit 엔진계열만 인식하는 safari,chrome 핵 */
.exp_lc_con .exp_lc_more .exp_lc_more_bg {position:absolute; width:100%; height:100%; background:#000; opacity:0.67; filter:alpha(opacity:67); z-index:1;}
.exp_lc_con .exp_lc_desc {padding:7px 20px 17px; color:#666; font-size:12px; font-family:"돋움"; line-height:18px; display:block;}

/* select form */
.jquery-selectbox {position:relative; width:100% !important; min-height:30px; color:#444; text-align:left !important; z-index:0;}
.jquery-selectbox.selecthover {z-index:700;}
.jquery-selectbox .jquery-selectbox-wrap {min-height:30px; background:url("http://image.nike.co.kr/web/bg/bg_js_selectR.png") no-repeat right top;}
.jquery-selectbox .jquery-selectbox-currentItem {min-height:16px; padding:6px 14px 8px; color:#666; font-weight:bold; letter-spacing:-0.1em; white-space: nowrap; display: block; overflow: hidden; 
cursor: pointer; background:url("http://image.nike.co.kr/web/bg/bg_js_selectL.png") no-repeat left top;}
.jquery-selectbox .jquery-selectbox-list {display:none; position:absolute; top:28px; left:0px; width:93% !important; max-height:194px !important; padding:6px 6px 0px; letter-spacing:-0.1em; background:#ddd; overflow-x:hidden; 
overflow-y:auto; z-index: 1000;}
.jquery-selectbox .jquery-selectbox-moreButton {float:right; width:32px; height:30px; cursor: pointer; background-image:url("http://image.nike.co.kr/web/btn/btn_select_arrow_down.png"); background-repeat:no-repeat; 
background-position:center center;}
.jquery-selectbox.selecthover .jquery-selectbox-moreButton {}
.jquery-selectbox .jquery-selectbox-item.listelementhover {background:#999; color:#fff;}
.jquery-selectbox .jquery-selectbox-item {padding:7px 14px 7px; margin-bottom:1px; cursor:pointer; font-family:"NanumGothic"; font-weight:bold; letter-spacing:-0.1em; background:#fff; display:block;}
.jquery-selectbox .jquery-selectbox-item:first-child {border-top-left-radius:3px; border-top-right-radius:3px;}
.jquery-selectbox .jquery-selectbox-item:last-child {margin-bottom:6px; border-bottom-left-radius:3px; border-bottom-right-radius:3px;}
.jquery-selectbox .jquery-selectbox-item.on {background:#333 url(http://image.nike.co.kr/web/bg/bg_selectbox-item_on.png) top right no-repeat; color:#fff;}

.exp_lc_list-more {margin:4px 0 0 0;}
.exp_lc_list-more a {width:76px; height:31px; padding:12px 23px 0 0; color:#333; font-size:13px; background:url("http://image.nike.co.kr/web/btn/btn-view02.png") no-repeat left top; display:inline-block;}

.launch_calendar_view .lcv_return {margin-bottom:23px;}
.lcv_return a {padding:0 0 0 11px; color:#333; font-family:"돋움"; text-decoration:underline; background:url("http://image.nike.co.kr/web/bg/bg_dot01.gif") no-repeat left 2px;}

/* launch calendar board_view css begin */
.launch_calendar_view {width:960px; margin:0 auto; padding-bottom:75px;}
.launch_calendar_view:after {content:""; display:block; clear:both; *zoom:1;}
.launch_calendar_view .lcv_pro_area {float:left; width:670px; padding-right:50px;}
.launch_calendar_view .lcv_side_area {float:left; width:220px;}

.lc_board_view {border-bottom:1px solid #ddd; padding:0 0 47px 0; display:inline-block;}
.lc_board_view:after {content:""; display:block; clear:both; *zoom:1;}
.lcbv_pro_badgeWrap {float:left; width:85px;}
.lcbv_pro_badgeWrap .lcbv_pro_badge {width:45px; min-height:93px; padding:9px 12px 0 10px; background:url(http://image.nike.co.kr/web/bg/bg_badge02.png) no-repeat left top;}
.lcbv_pro_badgeWrap .lcbv_pro_badge .lcbv_pro_month {width:100%; padding:0 0 4px; border-bottom:1px solid #999; color:#999; font-size:15px; text-align:center;}
.lcbv_pro_badgeWrap .lcbv_pro_badge .lcbv_pro_day {width:100%; padding:1px 0 0; color:#fa5400; font-size:40px; font-weight:bold; text-align:center; font-family:'나눔고딕';}

.lcbv_pro_infoWrap {float:left; width:535px; font-family:"NanumGothic";}
.lcbv_pro_infoWrap .lcbv_pro_title {color:#333; font-size:32px; font-weight:bold; line-height:35px;}
.lcbv_pro_infoWrap .lcbv_pro_price {padding:4px 0; color:#666; font-size:39px;}
.lcbv_pro_infoWrap .lcbv_pro_price .won {font-size:35px; vertical-align:top; display:inline-block;}
.lcbv_pro_infoWrap .lcbv_pro_desc {padding:7px 0; font-weight:bold; color:#666; font-size:15px;}
.lcbv_pro_infoWrap .lcbv_pro_info {padding:7px 0; color:#888; font-size:12px; line-height:17px; font-family:"돋움";}

.lc_pro_account {padding:23px 0 0 0; color:#888; line-height:18px; font-family:"돋움"; letter-spacing:normal;}
.lc_view_product {padding-bottom:25px;}

.lcvs_sns {padding:20px 0 24px 0;}
.lcvs_sns ul:after {display:block; clear:both; content:'';}
.lcvs_sns li {float:left;}
.lcvs_sns li:last-child {margin-left:7px;}

.lcvs_more {padding:15px 0 16px; border-bottom:1px solid #efefef; border-top:10px solid #efefef;}
.lcvs_more .lcvs_more_txt {padding-bottom:15px; color:#666; font-size:12px; font-weight:bold; font-family:'NanumGothic','맑은 고딕','돋움','굴림', sans-serif !important;}
.lcvs_more_btn .btn-type7 {margin:2px 0 3px;}
.btn-type7 {display:inline-block; padding-left:5px; color:#fff; font-size:11px; font-weight:bold; font-family:verdana,'나눔고딕','맑은 고딕','돋움','굴림', sans-serif !important; text-align:center; cursor:pointer;}
.btn-type7 span {min-width:14px; height:31px; padding:0px 8px 0 4px; line-height:27px; *line-height:30px; display:inline-block;}
.btn-type7.btn-black {background:url(http://image.nike.co.kr/web/btn/btn-black31-left.png) no-repeat;}
.btn-type7.btn-black span.right {background:url(http://image.nike.co.kr/web/btn/btn-black31-right.png) no-repeat right 0;}

.lcvs_connection {padding:15px 0 0px;}
.lcvs_connection .lcvs_more_txt {padding-bottom:15px; color:#666; font-size:12px; font-weight:bold; font-family:'나눔고딕','맑은 고딕','돋움','굴림', sans-serif !important;}
.lcvs_connection .exp_lcvs_con {position:relative; width:220px; min-height:380px; padding:0 0 11px; text-align:left; background:url(http://image.nike.co.kr/web/bg/bg_lc_shadow02.png) no-repeat center bottom; 
display:block;}
.lcvs_connection .exp_lcvs_con:hover .exp_lcvs_more {display:block;}
.lcvs_connection .exp_lcvs_conbg {position:relative; min-height:380px; background-color:#f3f3f3; display:block;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_badge {position:absolute; top:-3px; left:6px; min-width:23px; min-height:71px; padding:0 8px; background:url(http://image.nike.co.kr/web/bg/bg_badge03.png) no-repeat left top; display:block;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_badge .exp_lcvscb_month {width:100%; padding:4px 0 2px; border-bottom:1px solid #8989a3; color:#666; font-size:11px; text-align:center;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_badge .exp_lcvscb_day {width:100%; padding:0 0 0; color:#fa5400; font-size:20px; font-weight:bold; text-align:center; font-family:'나눔고딕';}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_info {padding:13px 16px 0px; display:block;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_info .exp_lcvsc_title {color:#333; font-size:14px; display:block;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_info .exp_lcvsc_price {padding:0; color:#666; font-size:17px; display:block;}
.lcvs_connection .exp_lcvs_con .exp_lcvsc_info .exp_lcvsc_price .won {font-size:14px !important; vertical-align:middle; display:inline-block;}
.lcvs_connection .exp_lcvs_con .exp_lcvs_desc {padding:7px 20px 11px; color:#666; font-size:11px; font-family:"돋움"; line-height:14px; display:block;}

/* slider begin */
.lcv_slider {width:100%; min-width:980px; height:538px; position:relative; overflow:hidden; background:#fff; text-align:center;}
.lcv_slider .lcv_bd {width:940px; position:absolute; left:50%; margin-left:-490px}
.lcv_slider .lcv_bd li {width:940px; padding:0 20px 0 0; overflow:hidden;}
.lcv_slider .lcv_bd li img {width:940px; height:490px; display:block;}
.lcv_slider .tempWrap {overflow:visible !important}
.lcv_slider .tempWrap ul {margin-left:-940px !important;}
.lcv_slider .lcv_hd {position:absolute;	width:100%; left:0; z-index:1; height:8px; bottom:20px; text-align:center;}
.lcv_slider .lcv_hd li {display:inline-block; *display:inline; zoom:1; width:12px; height:12px; line-height:99px; overflow:hidden; background:url(http://image.nike.co.kr/web/btn/slider-btn.png) 0 -12px no-repeat; margin:0 5px; 
cursor:pointer; filter:alpha(opacity=60); opacity:0.6;}
.lcv_slider .lcv_hd li.on {background-position:0 0; filter:alpha(opacity=100); opacity:1;}
.lcv_slider .pnBtn {position:absolute; z-index:1; top:45%; width:20px; height:29px; cursor:pointer;}
.lcv_slider .prev {left:50%; margin:0 0 0 -455px;}
.lcv_slider .next {left:50%; margin:0 0 0 435px;}
.lcv_slider .pnBtn .arrow {position:absolute; top:0; z-index:1; width:20px; height:29px;}
.lcv_slider .prev .arrow {left:0; background:url(http://image.nike.co.kr/web/btn/slider-arrow.png) 0 0 no-repeat;}
.lcv_slider .prev .arrow:hover {background-position:0 -39px;}
.lcv_slider .next .arrow {left:0; background:url(http://image.nike.co.kr/web/btn/slider-arrow.png) -30px 0 no-repeat;}
.lcv_slider .next .arrow:hover {background-position:-30px -39px;}

/* title text corner */
section.page_title {position:fixed; top:80px; width:100%; background:#444; height:60px; z-index:100;}
section.page_title .tit_box {margin:0 25px; height:60px; line-height:60px;}
section.page_title .tit_box .tit {color:#fff; font-size:23px; letter-spacing:-1px;}
section.page_title .btn_box {position:absolute; top:12px; right:25px;}
